In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv('../dataset/data.csv')

In [3]:
data.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [24]:
X = data.iloc[ : , :-1].values
Y = data.iloc[ : , 3].values

In [26]:
Y

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

Kiểm tra cột nào có giá trị nan

In [11]:
for i in data.columns:
    print(i,'have nan value: ', data[i].isnull().values.any())

Country have nan value:  False
Age have nan value:  True
Salary have nan value:  True
Purchased have nan value:  False

In [12]:
for i in data.columns:
    print(i,'have nan value: ', data[i].isnull().sum())

Country have nan value:  0
Age have nan value:  1
Salary have nan value:  1
Purchased have nan value:  0

## Xử lý missing data

In [17]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy = "mean")

In [19]:
imputer.fit(data[['Salary','Age']])

SimpleImputer()

In [20]:
data[['Salary','Age']] = imputer.transform(data[['Salary','Age']])

In [21]:
data.head()

   Country   Age        Salary Purchased
0   France  44.0  72000.000000        No
1    Spain  27.0  48000.000000       Yes
2  Germany  30.0  54000.000000        No
3    Spain  38.0  61000.000000        No
4  Germany  40.0  63777.777778       Yes

In [22]:
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_X = LabelEncoder()

In [27]:
X[ : , 0] = labelencoder_X.fit_transform(X[ : , 0])

### Creating a dummy variable

In [30]:
onehotencoder = OneHotEncoder()
X = onehotencoder.fit_transform(X).toarray()
labelencoder_Y = LabelEncoder()
Y =  labelencoder_Y.fit_transform(Y)